<div class="landingPage" id="home">
      <div class="landingPage_container landingheader_container" >
        <div class="landingheader_image">
          <img class="landing_img" src="../../assets/car_img01.png" alt="header">
        </div>
    
        <div class="landingheader_content">
          <h1 class="landing_h1">Journey Becomes Unforgettable!</h1>
          <p class="landing_p">Drive with Ease, Embrace the Road Ahead!</p>
          
          <div class="landingheader_links">
            <a class="landing_a" href="#">
              <img class="landing_img" src="../../assets/play.png" alt="app store">
            </a>
            <a class="landing_a" href="#">
              <img class="landing_img" src="../../assets/store.jpg" alt="play">
            </a>
          </div>
        </div>
      </div>
    </div>
    