<body>
    <div class="contanier">
        <div class="hero">

            <div class="content">
                <div class="div-text">
                    <h1>AutoNexus</h1>
                    <h4>Get Start</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Labore reprehenderit veritatis aperiam sed alias quos. Aliquid vero autem sapiente aspernatur?</p>
                        <a href="/cussignup" class="btn">Customer</a>
                        <a href="#" class="btn">Spareparts Shop</a>
                        <a href="#" class="btn">Vehicale Shop</a>
                        <a href="#" class="btn">Vehicale Owner</a>
                </div>

                <div class="div-img">
                    <img src="../../assets/car_img01.png" alt="Car Image">
                    <div class="inline-images">
                        <img src="../../assets/play.png" alt="Image 1">
                        <img src="../../assets/store.jpg" alt="Image 2">
                    </div>
                </div>
                
            </div>
            

            <div class="soc-link">
                <a href=""><i class="bx bxl-facebook-square"></i></a>
                <a href=""><i class="bx bxl-twitter"></i></a>
                <a href=""><i class="bx bxl-youtube"></i></a>
            </div>
        </div>
    </div>
</body>
