<div class="service" id="service">
    <section class="section__container experience__container" id="ride">
        <p class="section__subheader">CUSTOMER EXPERIENCE</p>
        <h2 class="section__header">
          We are ensuring the best customer experience
        </h2>
        <div class="experience__content">
          <div class="experience__card">
            <span><i class='bx bxs-purchase-tag'></i></span>
            <h4>Competitive pricing</h4>
          </div>
          <div class="experience__card">
            <span><i class='bx bx-credit-card'></i></span>
            <h4>Easier Buy On Your Budget</h4>
          </div>
          <div class="experience__card">
            <span><i class='bx bxs-bank' ></i></span>
            <h4>Most Felxible Payment Plans</h4>
          </div>
          <div class="experience__card">
            <span><i class='bx bxs-award'></i></span>
            <h4>The Best Extended Auto Warranties</h4>
          </div>
          <div class="experience__card">
            <span><i class='bx bx-headphone' ></i></span>
            <h4>Roadside Assistance 24/7</h4>
          </div>
          <div class="experience__card">
            <span><i class='bx bxs-car'></i></span>
            <h4>Your Choice Of Mechanic</h4>
          </div>
          <img src="assets/carpng6.png" alt="experience" />
        </div>
      </section>
</div>