<!-- page01.component.html -->
<div class="page01" id="about">
    <section class="page1_container story__container">
      <h2 class="page01_header">STORIES BEHIND THE WHEEL</h2>
      <div class="story__grid">
        <div class="story__card">
          <div class="story__date">
            <span>12</span>
            <div>
              <p>January</p>
              <p>2024</p>
            </div>
          </div>
          <h4>Adventures on the Road Sessions</h4>
          <p>
            Join us as we dive into the exhilarating stories of travelers who
            embarked on unforgettable journeys with PREMIUM CAR RENTAL.
          </p>
          <img class="page01_img" src="../../assets/story-1.jpg" alt="story">
        </div>
  
        <div class="story__card">
          <div class="story__date">
            <span>04</span>
            <div>
              <p>March</p>
              <p>2024</p>
            </div>
          </div>
          <h4>Luxury and Comfort: Experiences</h4>
          <p>
            In this series, we highlight the luxurious touches, unparalleled
            comfort, and exceptional service that make every ride.
          </p>
          <img class="page01_img" src="../../assets/story-2.jpg" alt="story">
        </div>
  
        <div class="story__card">
          <div class="story__date">
            <span>18</span>
            <div>
              <p>June</p>
              <p>2024</p>
            </div>
          </div>
          <h4>Cars that Adapt to Your Lifestyle</h4>
          <p>
            Read about how our versatile vehicles have seamlessly integrated
            into the lives of professionals and families alike.
          </p>
          <img class="page01_img" src="../../assets/story-3.jpg" alt="story">
        </div>
      </div>
    </section>
  
    <section class="banner__container">
      <div class="banner__wrapper">
        <img class="page01_img1" src="../../assets/banner-1.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-2.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-3.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-4.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-5.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-6.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-7.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-8.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-9.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-10.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-10.png" alt="banner">
        <img class="page01_img1" src="../../assets/banner-10.png" alt="banner">
      </div>
    </section>
  </div>
  