.nav_header{
  max-width: 1200px;
  margin: 0 auto;
}
.landing_nav{
  position: fixed;
  background: #EAE8E9;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.nav_logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #454242;
}
.landing_nav .nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
.landing_nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.landing_nav a {
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.landing_nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav_links.open {
  transform: translateY(0);
}
.nav_links a {
  font-weight: 700;
  color: #454242;
}
.landing_nav.active .nav_header {
  padding: 10px 0;
}

.nav_links a:hover {
  color: #1799e5;
  border-color: #1799e5;
  cursor: pointer;
}

.nav_links .nav_btn {
  padding: 0;
  background-color: transparent;
}

.nav_btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  background: #454242;
  white-space: nowrap;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.nav_btn:hover {
  background: linear-gradient(to bottom, #1799e5, #1FADFF);
  color: #0f172a;
}
